@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --PrimairyLightBGC: rgb(132, 193, 211);
    --PrimairyMediumBGC: rgb(87, 143, 160);
    --PrimariyDarkBGC: rgb(27, 92, 112);
    --WhiteGlow: 0 0 calc(2px + 0.3vw) white,
        0 0 calc(8px + 0.75vw) white;
    --DarkMagentaGlow: 0 0 calc(2px + 0.3vw) darkmagenta,
        0 0 calc(8px + 0.75vw) darkmagenta;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist Mono", sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
}

body {
    background: repeating-linear-gradient(0deg,
            var(--PrimariyDarkBGC),
            var(--PrimariyDarkBGC) 100px,
            var(--PrimairyMediumBGC) 100px,
            var(--PrimairyMediumBGC) 200px);
    overflow: auto;
}

header ul {
    margin-block-end: 50px;
    background: black;
    padding: 10px;
}

footer ul {
    margin-block-start: 50px;
    background: black;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    li {
        margin: 10px;
    }
}

a {
    color: white;
    font-size: larger;
    transition: color 0.5s ease;
}

a:hover {
    text-shadow: var(--DarkMagentaGlow);
    color: darkmagenta;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h1,
    h2 {
        font-size: calc(10px + 5vw);
        color: white;
        padding: 20px;
        padding-block-end: 5px;
        text-shadow: var(--WhiteGlow);
        transition: text-shadow 0.5s ease;
    }

    h2 {
        font-size: calc(10px + 2.5vw);
    }

    h1:hover,
    h2:hover {
        text-shadow: var(--DarkMagentaGlow);
    }

    h3 {
        font-size: calc(8px + 1.5vw);
        text-decoration: underline;
        padding: 10px;
    }

    p {
        font-size: calc(5px + 1vw);
        margin: 20px;
    }

    section#info1,
    section#info2,
    section#info3,
    section#info4 {
        margin: calc(2vi + 10px);
    }

    div {
        border: 2px solid black;
        margin: 10px;
        box-shadow: 2px 3px 5px black;
        background-color: white;
        transition: background-color 0.5s ease;
    }

    div:hover {
        background-color: wheat;
    }

    a {
        color: black;
        font-size: calc(5px + 1vw);
        text-decoration: underline;
    }

    a:hover {
        color: darkmagenta;
        text-shadow: none;
    }

    section>img {
        inline-size: calc(10vi + 50px);
        block-size: auto;
    }

    .slant {
        background-color: black;
        transform: skewY(-5deg);
        margin: 0;
        margin-block: calc(50px + 3vi);

        h1,
        h2 {
            padding: 20px;
        }
    }

    table {
        margin: auto;
        border-collapse: collapse;
        width: 90%;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        fieldset {
            margin: auto;
            width: 50%;
            padding-block: 15px;

            input[type="reset"] {
                margin: 5px;
            }
        }
    }
}

@media all and (min-width: 576px) {
    main {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-areas:
            "title title"
            "intro intro"
            "info1 info2"
            "info3 info4";
    }

    #title {
        grid-area: title;
    }

    #intro {
        grid-area: intro;
        margin: 10px;
    }

    #info1 {
        grid-area: info1;
        margin: 10px;
    }

    #info2 {
        grid-area: info2;
        margin: 10px;
    }

    #info3 {
        grid-area: info3;
        margin: 10px;
    }

    #info4 {
        grid-area: info4;
        margin: 10px;
    }
}

@media all and (min-width: 768px) {

    .grid-img {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
        align-items: center;
        grid-template-areas:
            "img cont";

        section {
            margin: 10px;

            img {
                margin: 10px;
            }
        }
    }

    section {
        margin: 0;

    }
}